@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Poznaj najlepsze przepisy Kucharskie!</h1><br /><br />
    <div style="text-align:center;font-family:Verdana"><img src="/img/logo.jpg" alt="Sample Photo" style="border-radius:15px" width="500px"></div>
    <br /><br />
    <h1 class="display-4">Zapraszamy serdecznie do przeglądu potraw.</h1>
</div>
